parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 5
			path: config/waha-saloon-sdk.php

		-
			message: '#^Class CCK\\LaravelWahaSaloonSdk\\Waha\\Requests\\Apps\\UpdateExistingApp constructor invoked with 6 parameters, 0\-5 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Waha/Resource/Apps.php

		-
			message: '#^Class CCK\\LaravelWahaSaloonSdk\\Waha\\Requests\\Misc\\GetAllGroups constructor invoked with 7 parameters, 1\-6 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Waha/Resource/Misc.php

		-
			message: '#^Class CCK\\LaravelWahaSaloonSdk\\Waha\\Requests\\Misc\\ListAllSessions constructor invoked with 3 parameters, 0\-2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Waha/Resource/Misc.php

		-
			message: '#^Class CCK\\LaravelWahaSaloonSdk\\Waha\\Requests\\Sessions\\GetSessionInformation constructor invoked with 3 parameters, 1\-2 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Waha/Resource/Sessions.php

